body {
    padding: 100px;
}

.centered {
    float: none;
    margin: 0 auto;
    text-align: center;
}

table {
    border: 1px solid #222;
}

td {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    border: 1px solid #222;
    height: 50px;
    width: 50px;
}