@charset "utf-8";
/* CSS Document */
#content h1{
	margin-left:20px;
	padding:0;
	font-size:100%;
	font-weight:normal;
	word-wrap:break-word;
	display:block;
	font-size:35px;
	font-weight:bold;
	color:#494949;
	line-height:1.1;
	}
